.favourites-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.favourites-page h1 {
  margin: 25px;
  color: #fff;
}

.favourites-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.liked-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(121, 56, 56, 0.6));
  border: 2px grey groove;
  height: fit-content;
  // padding: 20px 50px;
  margin-bottom: 20px;
}

.liked-lists h2 {
  padding: 20px;
  color: #eee;
}

.liked-lists div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  // padding:20px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}

.liked-lists div:hover {
  background: linear-gradient( rgba(20, 20, 20, 0.5), 
  rgba(121, 56, 56, 0.7));
  backdrop-filter: blur(0px);
  }

.liked-lists div.details {
  display: flex;
  flex-direction: column;
  color: lightgrey;
  padding: 20px;
}

.favourites-page button {
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(121, 56, 56, 0.9));
  color: whitesmoke;
  margin-right: 10px;
}

.favourites-page button:hover {
  box-shadow: inset 400px 50px 0 0 black;
}
